USE [PetrinovicATS]
GO
/****** Object:  StoredProcedure [dbo].[spAgregarColumnasSiNoExisten]    Script Date: 07/24/2025 17:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATE_COLUMNS_DIFF]
    @Esquema NVARCHAR(128) = 'dbo',
    @Tabla NVARCHAR(128),
    @Columnas NVARCHAR(MAX) -- Ej: 'Col1 INT;Col2 VARCHAR(50);Col3 DATETIME'
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Linea NVARCHAR(256)
    DECLARE @ColDefinicion NVARCHAR(MAX) = @Columnas
    DECLARE @Columna NVARCHAR(128)
    DECLARE @Tipo NVARCHAR(128)
    DECLARE @Pos INT
    DECLARE @SQL NVARCHAR(MAX)

    DECLARE @Log TABLE (
        Columna NVARCHAR(128),
        Estado NVARCHAR(50)
    )

    BEGIN TRY
        BEGIN TRANSACTION

        WHILE LEN(@ColDefinicion) > 0
        BEGIN
            -- Separar línea por ;
            SET @Pos = CHARINDEX(';', @ColDefinicion)
            IF @Pos = 0
            BEGIN
                SET @Linea = LTRIM(RTRIM(@ColDefinicion))
                SET @ColDefinicion = ''
            END
            ELSE
            BEGIN
                SET @Linea = LTRIM(RTRIM(LEFT(@ColDefinicion, @Pos - 1)))
                SET @ColDefinicion = RIGHT(@ColDefinicion, LEN(@ColDefinicion) - @Pos)
            END

            -- Separar nombre y tipo
            SET @Columna = LEFT(@Linea, CHARINDEX(' ', @Linea + ' ') - 1)
            SET @Tipo = LTRIM(RIGHT(@Linea, LEN(@Linea) - LEN(@Columna)))

            -- Verificar si existe
            IF NOT EXISTS (
                SELECT 1
                FROM INFORMATION_SCHEMA.COLUMNS
                WHERE TABLE_SCHEMA = @Esquema
                  AND TABLE_NAME = @Tabla
                  AND COLUMN_NAME = @Columna
            )
            BEGIN
                SET @SQL = 'ALTER TABLE [' + @Esquema + '].[' + @Tabla + '] ADD [' + @Columna + '] ' + @Tipo
                EXEC sp_executesql @SQL
                INSERT INTO @Log VALUES (@Columna, 'Agregada')
            END
            ELSE
            BEGIN
                INSERT INTO @Log VALUES (@Columna, 'Ya existía')
            END
        END

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION

        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY()
        RAISERROR('Error: %s. Se hizo ROLLBACK de todas las operaciones.', @ErrSeverity, 1, @ErrMsg)
        RETURN
    END CATCH

    -- Mostrar log
    SELECT * FROM @Log
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PERSON_BY_FILTERS]    Script Date: 07/24/2025 17:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PERSON_BY_FILTERS]
    @NumberDoc NVARCHAR(50) = NULL,
    @Name NVARCHAR(100) = NULL,
    @FecFolderFrom DATE = NULL,
    @FecFolderTo DATE = NULL,
    @NroCur NVARCHAR(50) = NULL,
    @Emp INT = NULL,
    @PlaceExam INT = NULL
AS
BEGIN
    -- Declarar variables para la consulta dinámica
    DECLARE @sql NVARCHAR(MAX);
    DECLARE @params NVARCHAR(MAX);

    -- Construir la consulta base
    SET @sql = N'
    SELECT TOP 1 p.NombrePersona as name, 
           p.Documento as Document, 
           c.FechaCarpeta as FecCreate, 
           c.Resultado as Result
    FROM Personas p
    LEFT JOIN Carpetas c ON p.CodigoPersona = c.Persona
    WHERE 1=1';

    -- Construir la cadena de parámetros
    SET @params = N'@NumberDoc NVARCHAR(50), 
                    @Name NVARCHAR(100), 
                    @FecFolderFrom DATE, 
                    @FecFolderTo DATE, 
                    @NroCur NVARCHAR(50), 
                    @Emp INT, 
                    @PlaceExam INT';

    -- Agregar condiciones dinámicas
    IF @NumberDoc IS NOT NULL
        SET @sql += N' AND (p.Documento IS NULL OR p.Documento LIKE ''%'' + @NumberDoc + ''%'')';

    IF @Name IS NOT NULL
        SET @sql += N' AND (p.NombrePersona IS NULL OR p.NombrePersona LIKE ''%'' + @Name + ''%'')';

    IF @FecFolderFrom IS NOT NULL AND @FecFolderTo IS NOT NULL
        SET @sql += N' AND (c.FechaCarpeta IS NULL OR c.FechaCarpeta BETWEEN @FecFolderFrom AND @FecFolderTo)';

    IF @NroCur IS NOT NULL
        SET @sql += N' AND (c.NroCurso IS NULL OR c.NroCurso LIKE ''%'' + @NroCur + ''%'')';

    IF @Emp IS NOT NULL
        SET @sql += N' AND (c.Empresa IS NULL OR c.Empresa = @Emp)';

    IF @PlaceExam IS NOT NULL
        SET @sql += N' AND (c.Lugar IS NULL OR c.Lugar = @PlaceExam)';

    -- Agregar orden
    SET @sql += N' ORDER BY 1, 2';

    -- Ejecutar la consulta dinámica
    EXEC sp_executesql @sql, @params, 
        @NumberDoc = @NumberDoc, 
        @Name = @Name, 
        @FecFolderFrom = @FecFolderFrom, 
        @FecFolderTo = @FecFolderTo, 
        @NroCur = @NroCur, 
        @Emp = @Emp, 
        @PlaceExam = @PlaceExam;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_USUARIOS_EXAMENES]    Script Date: 07/24/2025 17:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_USUARIOS_EXAMENES] 
	@User int
AS
BEGIN
	DELETE FROM UsuariosExamenes WHERE Usuario = @User
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_USUARIOS_EXAMENES]    Script Date: 07/24/2025 17:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_USUARIOS_EXAMENES] 
	@User int,
	@Exam int
AS
BEGIN
	INSERT INTO UsuariosExamenes (Usuario, Examen) VALUES (@User, @Exam);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PERSON_BY_DOCUMENT]    Script Date: 07/24/2025 17:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PERSON_BY_DOCUMENT]
    @NumberDoc NVARCHAR(50)
AS
BEGIN

	SELECT p.*, d.*, c.*, l.*, e.* 
	FROM Personas p
	INNER JOIN Documentos d ON d.CodigoDocumento = p.TipoDocumento
	LEFT JOIN Carpetas c ON p.CodigoPersona = c.Persona
	LEFT JOIN Empresas e ON e.CodigoEmpresa = c.Empresa
	LEFT JOIN Lugares l ON l.CodigoLugar = c.Lugar
	WHERE p.Documento = @NumberDoc

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_RESULTS_VT_EXAM]    Script Date: 07/24/2025 17:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_RESULTS_VT_EXAM]
    @Carpeta INT
AS
BEGIN
	SELECT 
		Item1.CodigoItem AS 'Codigo',
		Item1.DescripcionItem AS 'Item',
		t.Valor AS 'Valor'
	FROM
		ResultadosVT t
	LEFT JOIN
		Items AS Item1 ON t.item = Item1.CodigoItem
	INNER JOIN DetalleExamenes de ON de.CodigoDetalleExamen = T.DetalleExamen
	INNER JOIN Examenes exa ON exa.CodigoExamen = de.Examen 
	WHERE de.Examen = 7 
	AND de.Carpeta = @Carpeta
	AND de.Fecha = (SELECT MAX(fecha) from DetalleExamenes WHERE Carpeta = @Carpeta AND Examen = 7 )
	ORDER BY t.CodigoResultadoVT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DETAILS_VT_EXAM]    Script Date: 07/24/2025 17:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_DETAILS_VT_EXAM]
    @Carpeta INT
AS
BEGIN
	SELECT
    de.Examen AS 'CodigoExamen',
    exa.DescripcionExamen AS 'Examen',
	Item1.DescripcionItem AS 'Item',
    Item2.DescripcionItem AS 'SubItem1',
    Item3.DescripcionItem AS 'SubItem2',
	t.Resultado as 'ResultadoItem', 
	de.NoRealizado,
	de.Resultado as 'ResultadoExamen',
	res.NombreResponsable  AS 'Responsable',
	DescripcionObservacion AS 'Observaciones'
	
	FROM
		VT t
	LEFT JOIN
		Items AS Item1 ON t.item = Item1.CodigoItem
	LEFT JOIN
		Items AS Item2 ON t.subItem1 = Item2.CodigoItem
	LEFT JOIN
		Items AS Item3 ON t.subItem2 = Item3.CodigoItem
	INNER JOIN DetalleExamenes de ON de.CodigoDetalleExamen = T.DetalleExamen
	INNER JOIN Examenes exa ON exa.CodigoExamen = de.Examen 
    INNER JOIN Responsables res ON res.CodigoResponsable = de.Responsable
	LEFT JOIN Observaciones o ON t.DetalleExamen = o.DetalleExamen

	WHERE de.Examen = 7 
	AND de.Carpeta = @Carpeta
	AND de.Fecha = (SELECT MAX(fecha) from DetalleExamenes WHERE Carpeta = @Carpeta AND Examen = 7 )
	ORDER BY t.CodigoVT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DETAILS_EXAM_NOVT]    Script Date: 07/24/2025 17:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_DETAILS_EXAM_NOVT]
    @Carpeta INT
AS
BEGIN
		SELECT 
    t.Examen AS 'CodigoExamen',
    t4.DescripcionExamen AS 'Examen',
    t2.DescripcionItem AS 'Item',
    t1.Valor,
    t1.Resultado AS 'ResultadoItem',
    t1.Percentil,
    t1.Orden,
    t3.NombreResponsable AS 'Responsable',
    t.Resultado AS 'ResultadoExamen',
    t.NoRealizado,
    o.DescripcionObservacion AS 'Observaciones',
    t.Fecha AS "Fecha"
FROM DetalleExamenes t
INNER JOIN (
    SELECT 
        CodigoDetalleExamen,
        MAX(Fecha) AS MaxFecha
    FROM DetalleExamenes
    WHERE Carpeta = @Carpeta
    GROUP BY CodigoDetalleExamen
) max_fecha ON t.CodigoDetalleExamen = max_fecha.CodigoDetalleExamen AND t.Fecha = max_fecha.MaxFecha
INNER JOIN Resultados t1 ON t.CodigoDetalleExamen = t1.DetalleExamen
INNER JOIN Items t2 ON t1.Item = t2.CodigoItem
INNER JOIN Responsables t3 ON t.Responsable = t3.CodigoResponsable
INNER JOIN Examenes t4 ON t.Examen = t4.CodigoExamen
LEFT JOIN Observaciones o ON t.CodigoDetalleExamen = o.DetalleExamen
WHERE t.Examen <> 7
    AND t.Carpeta = @Carpeta
ORDER BY t4.CodigoExamen, t1.Orden;
END
GO
