<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PetrinovicATS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PetrinovicATS.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="configFile" serializeAs="String">
                <value>PetrinovicATS.ini</value>
            </setting>
            <setting name="pathInstall" serializeAs="String">
                <value>C:\Petrinovic\</value>
            </setting>
            <setting name="pathInstallDev" serializeAs="String">
                <value>D:\proyects\C#\git\PetrinovicATS\bin\Debug\net8.0-windows8.0</value>
            </setting>
        </PetrinovicATS.Properties.Settings>
    </userSettings>
</configuration>